<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask & Plotly</title>
</head>
<body>
    <h1>Testing</h1>
    <div id='chart' class='chart'>
    </div>
</body>

<!-- jquery -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<!-- d3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.11.0/d3.js" integrity="sha256-cWwi30eyRTyVagkLLAwXp92jxARPpGH3u+5Vr0UJtGQ=" crossorigin="anonymous"></script>

<!-- plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var graphs = {{ graphJSON | safe }}
    Plotly.plot('chart', graphs, {})         
</script>

</html>