<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask & Plotly</title>
</head>
<body>
    <h1>Testing</h1>
    <div id='chart' class='chart'>
    </div>
</body>

<!-- jquery (from bootstrap) -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<!-- plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- d3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<script type="text/javascript">
    var graphs = {{ graphJSON | safe }}
    Plotly.plot('chart', graphs, {})         
</script>

</html>