<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>About Lintang</h1>
    <ul>
        <li><a href='https://www.facebook.com/lintangbagus' target='_blank'>Facebook</a></li>
        <li><a href='https://twitter.com/Lintang_Wisesa' target='_blank'>Twitter</a></li>
        <li><a href='https://www.youtube.com/user/lintangbagus' target='_blank'>Youtube</a></li>
        <li><a href='https://github.com/LintangWisesa' target='_blank'>Github</a></li>
    </ul>
</body>
</html>